body{
    background-color: cornflowerblue;
}
body, .btn{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.h-15{
    height:15%;
}
.container{
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}
.btn-light{
    box-shadow: 1px 1.5px 1px  rgba(0, 0, 0, 0.1);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}